{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12">

            {{ include("main/message.html.twig") }}

            <div class="card mb-3 mb-md-4">

                <div class="card-body">

                    <div class="mb-3 mb-md-4 d-flex justify-content-between">
                        <div class="h3 mb-0">Formulario de Identificadores</div>
                    </div>

                        {{ form_start(form,{ 'attr': {'class': '', 'enctype': 'multipart/form-data'}}) }}

                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label for="name">Número</label>
                                    {{ form_widget(form.numero, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Teclee el número'} }) }}
                                    <span class="error"></span>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label for="name">Tipo</label>
                                    {{ form_widget(form.tipo, { 'attr': {'class': 'custom-select', 'autocomplete': 'off', 'placeholder': 'Seleccione el tipo'} }) }}
                                    <span class="error"></span>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label for="name">Responsable</label>
                                    {{ form_widget(form.responsable, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Teclee el responsable'} }) }}
                                    <span class="error"></span>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label for="name">Departamento</label>
                                    {{ form_widget(form.departamento, { 'attr': {'class': 'custom-select select2', 'autocomplete': 'off', 'placeholder': 'Seleccione el departamento'} }) }}
                                    <span class="error"></span>
                                </div>
                            </div>
                            
							<div class="float-right">

							    <button type="submit" class="btn btn-primary">Guardar</button>
							    <a href="{{ path('identificador_index') }}" type="button" class="btn btn-secondary">Cancelar</a>
							</div>

                        {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}



